.app-hero {
  background: none;
  @include media-breakpoint-up(md) {
    padding: 20rem 0 !important;
  }
  &-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .lead {
    color: $gray-300;
  }
}