$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eee !default;
$gray-300: #ddd !default;
$gray-400: #ccc !default;
$gray-500: #bbb !default;
$gray-600: #606060 !default;
$gray-700: #444 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #0000ff !default;
$indigo:  #6610f2 !default;
$purple:  #59c8fa !default;
$pink:    #59c8fa !default;
$red:     #ff3b30 !default;
$orange:  #ff9403 !default;
$yellow:  #ffc107 !default;
$green:   #4cda63 !default;
$teal:    #59c8fa !default;
$cyan:    #17a2b8 !default;